.todo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 42px;
}
.contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}
.search {
    margin-left: 35px;
    padding: 20px
}

.input {
    margin-left: 35px; 
    padding: 20px
}
.input-bar {
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}

