.strike-through {
    text-decoration: line-through;
  }
  
.red {
    color: red
  }
.todo-para {
    display: inline-block;
    width: 300px;
    padding: 20px;
    font-size: 30px;
    overflow-wrap: break-word;
}

li {
    list-style: none;
    margin-right: 35px;
   
}

.completed {
    width: 20px;
    height: 20px
}

button {
    border-radius: 5px;
    background-color: rgb(229, 87, 87);
    color: white;
    padding: 10px
}

